<div class="row mt-4">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h3>Editar Plato</h3>
            </div>
            <div class="card-body">
                <form action="/update-plato/{{plato.id}}" method="post" enctype="multipart/form-data">
                    <div class="my-3">
                        <label for="nombre">Nombre</label>
                        <input class="form-control" id="nombre" name="nombre" value="{{plato.nombre}}" type="text" placeholder="Nombre">
                    </div>

                    <div class="my-3">
                        <label for="precio">Precio</label>
                        <input class="form-control" id="precio" name="precio" value="{{plato.precio}}" type="number" step="0.1" placeholder="Precio">
                    </div>

                    <div class="my-3">
                        <label for="foto">Foto</label>
                        <input class="form-control" id="foto" name="foto" type="file">
                    </div>

                    <div class="my-3">
                        <label for="descripcion">Descripción</label>
                        <textarea name="descripcion" id="descripcion" class="form-control" cols="30" rows="10">{{plato.descripcion}}</textarea>

                    </div>

                    <div class="text-end">
                        <input class="btn btn-primary" type=submit value="ACTUALIZAR">
                        <a class="btn btn-secondary" href="/get-platos">CANCELAR</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>