<h3 class="mt-3">Lista de Clientes</h3>
    <div class="row">
        <div class="col-8 my-2">
            <input type="text" onchange="changeSearch()" id="search" class="form-control" name="nit">
        </div>
        <div class="col-2 my-2 d-grid gap-1">
            <a href="/get-clientes/" id="btn-search"class="btn btn-success"><i class="fa fa-search"></i></a>
        </div>
        <div class="col-2 my-2 d-grid gap-1">
            <a class="btn btn-primary" href="/create-cliente">Añadir Cliente</a>
        </div>
    </div>

{{#each clientes}}
    <div class="card my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p><b>Nombre: </b> {{ this.nombre }}</p>
                    <p><b>NIT: </b> {{ this.NIT }} </p>
                </div>
            </div>
            <div class="text-end">
                <a class="btn btn-sm btn-outline-success" href="/get-platos-cliente/{{this.id}}">Vender</a>
            </div>
        </div>
    </div>
{{/each}}
<script>
    const changeSearch = () => {
        const search = document.getElementById('search');
        const btnSearch = document.getElementById('btn-search');

        btnSearch.href = `/get-clientes/${search.value}`;

    }
</script>